.container-header{
    background-color:#152238!important;
}

h1{
    color: aqua;
    font-size: 8px;
    
}

.wow fadeIn{
   
}


.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: white;

}
.mh-skills .mh-professional-skill h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    
    /* font-family: 'Poppins','san-serif'; */
}
#pro-skills{
    margin-top: 20px;
    text-align: center;
}
.mh-proffessional-skills{
    padding-left: 20%;
}

.mh-proffessional-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;

}

.mh-professional-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;

}

.mh-progress {
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: white;
}



/*  */
.containa{
    display: inline-block;
    width: 210px;
    padding: 25px 0; 
    border-radius: 8px;
    background: #303030;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    color: grey;
    margin: 10px; 
    justify-content: center;
    text-align: center;
    
}
.circular-progress{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: conic-gradient(#152238 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: #303030;

}
.progress-value{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.circular-progress1{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: conic-gradient(#152238 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circular-progress1::before{
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: #303030;

}
.progress-value1{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.circular-progress2{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: conic-gradient(#152238 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circular-progress2::before{
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: #303030;

}
.progress-value2{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.circular-progress3{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: conic-gradient(#152238 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circular-progress3::before{
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: #303030;

}
.progress-value3{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.text{
    font-size: 15px;
    font-weight: 500;
    color:#fff;
    text-align: center;
    margin: auto;
}

/* progres bars */
#skills-section{
    margin-top: 20px;
    text-align: center;
}
.containur{
    width: 60%;
    margin: 0px auto;

}

.progres{
    width: 100%;
    height: 10px;
    background-color: grey;
    border-radius: 10px;
}

.progres .progres-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    background-color:#152238;
    border-radius: 10px;
    position: relative;
    transition: all 3.5s;
}

.progres-bar span{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 8px;
}

p{
    margin:20px auto 0 auto;
}

/* ------------------the popup-------------- */

.popupp{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popupp{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popupp img{
    height: 80px;
    width: 80px;
}

.popupp h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupp button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: deepskyblue;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) ;
}